__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
build/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg
.ipynb_checkpoints/
.vscode/
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
checkpoints/
data/
*.pth
*.pt
.DS_Store
*.zip
*.tar.gz
colab_train2.ipynb